<div class="project-view-in-backing">
  <div class="container">
    <div class="project-name">
      <h3><%= @project.name %></h3>
      <h4>Started by <a href="#"><%= @project.user.full_name %></a></h4>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <div class="project-property">
              <h5>City</h5>
            </div>
          </div>
          <div class="col-md-9">
            <div class="project-property">
              <%= @project.city %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="project-property">
              <h5>Class time</h5>
            </div>
          </div>
          <div class="col-md-9">
            <div class="project-property">
              <%= @project.class_datetime %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="project-property">
              <h5>Class capacity</h5>
            </div>
          </div>
          <div class="col-md-9">
            <div class="project-property">
              <%= @project.capacity %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="project-property">
              <h5>Project detail</h5>
            </div>
          </div>
          <div class="col-md-9">
            <div class="project-property">
              <p><%= @project.description %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-status">
          <% if @project.backings.count > 0 %>
            <p><a href="#"><%= @project.backings.count %></a> people back this project</p>
          <% else %>
            <p>Be the first to back this project</p>
          <% end %>
          <p><%= @project.time_left %> left</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="backing">
  <div class="container">
    <h3>Confirm your backing</h3>
    <%= form_for [@project, @backing] do |f| %>
      <div class="row">
        <div class="col-md-8">
          <div class="back-amount">
            <div class="input-group">
              <span class="input-group-addon">$</span>
                <%= f.text_field :amount, value: @backing.amount, readonly: true, class: "form-control", required: true %>
            </div>
          </div>
          <% case @backing.reward %>
            <% when "No Reward" %>
              <div class="reward-option">
                <div class="row">
                  <div class="col-md-4">
                    <div class="reward-option-name">
                      No Reward<br/>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="reward-option-description">
                      No Thanks. I just want to help the project.<br/>
                    </div>
                  </div>
                </div>
              </div>
            <% when "Standard" %>
              <div class="reward-option">
                <div class="row">
                  <div class="col-md-4">
                    <div class="reward-option-name">
                      Class Participation $12 +<br/>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="reward-option-description">
                      I love to help and want to join the classroom myself.<br/>
                    </div>
                  </div>
                </div>
              </div>
            <% when "Gift" %>
              <div class="reward-option">
                <div class="row">
                  <div class="col-md-4">
                    <div class="reward-option-name">
                      Class Invitation $15 +<br/>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="reward-option-description">
                      I know someone will absolutely love to join this class!<br/>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <div class="project-action">
              <%= content_tag :button, :type => :submit, :class => :'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span> Continue
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
