<div class="jumbotron">
  <div class="container">
    <h1>What do you want to know?</h1>
    <p>Start a knowledge project and let people back you up!</p>
  </div>
</div>

<div class="projects">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Projects</h2>
        <p>If you want to know, back the project!</p>
      </div>
        <div class="col-md-4">
          <div class="pull-right">
            <div class="start-a-project">
              <button type="button" class="btn btn-default">
<span class="glyphicon glyphicon-plus"></span> <%= link_to 'Start a project', new_project_path %>
</button>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <% if @projects.length > 0 %>
        <div class="thumbnail">
          <img src="https://dl.dropboxusercontent.com/u/32675706/LinKnowledge/Yo%20image.png">
          <p><%= link_to @projects[0].name, project_path(@projects[0]) %></p>
          <p><%= @projects[0].description %></p>
        </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <% if @projects.length > 1 %>
        <div class="thumbnail">
          <img src="http://goo.gl/Av1pac">
          <p><%= link_to @projects[1].name, project_path(@projects[1]) %></p>
          <p><%= @projects[1].description %></p>
        </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <% if @projects.length > 2 %>
        <div class="thumbnail">
          <img src="http://goo.gl/0Kd7UO">
          <p><%= link_to @projects[2].name, project_path(@projects[2]) %></p>
          <p><%= @projects[2].description %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
