<div class="jumbotron">
  <div class="container">
    <h1>What do you want to know?</h1>
    <p>Start a knowledge project and let people back you up!</p>
  </div>
</div>

<div class="projects">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Projects</h2>
        <p>
          Browse the projects and back them if your are eager to know the knowledge.</br>
          Propose a project if you are passionate about something not proposed yet.
        </p>
      </div>
        <div class="col-md-4">
          <div class="pull-right">
            <div class="start-a-project">
              <%= link_to 'Start a project', new_project_path, class: "btn btn-default" %>
            </div>
          </div>
        </div>
    </div>
    <% @projects.each do |project|%>
      <div class="each-project">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="project-name">
                <h3><%= link_to project.name, project_path(project) %></h3>
                <h4>Started by <a href="#"><%= project.user.full_name %></a></h4>
              </div>
              <div class="project-property">
                <%= project.description %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="project-property">
                <%= project.city %>
              </div>
              <div class="project-property">
                <%= project.class_datetime %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <!--
    <div class="row">
      <% @projects.each do |project|%>
        <div class="col-md-4">
          <div class"each-project">
            <div class="thumbnail">
              <div class="project-on-image">
                <p><%= link_to project.name, project_path(project) %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    -->
  </div>
</div>
