<div class="project">
  <div class="container">
    <div class="project-name">
      <h3><%= @project.name %></h3>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="project-detail">
          <h4><a href="#"><%= @project.user.full_name %></a> started the project.</h4>
          <p><%= @project.description %></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-action">
          <button type="button" class="btn btn-default">
<span class="glyphicon glyphicon-plus"></span> <%= link_to 'Back it', new_project_backing_path(@project) %>
</button>
        </div>
        <div class="project-status">
          <% if @project.backings.count > 0 %>
            <p><a href="#"><%= @project.backings.count %></a> people back this project</p>
          <% else %>
            <p>Be the first to back this project</p>
          <% end %>
          <p><%= @project.time_left %> left</p>
        </div>
      </div>
    </div>
  </div>
</div>
