<div class="project">
  <div class="container">
    <div class="project-name">
      <h3><%= @project.name %></h3>
      <h4>Started by <a href="#"><%= @project.user.full_name %></a></h4>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <div class="project-property">
              <h5>City</h5>
            </div>
          </div>
          <div class="col-md-9">
            <div class="project-property">
              <%= @project.city %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="project-property">
              <h5>Class time</h5>
            </div>
          </div>
          <div class="col-md-9">
            <div class="project-property">
              <%= @project.class_datetime %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="project-property">
              <h5>Class capacity</h5>
            </div>
          </div>
          <div class="col-md-9">
            <div class="project-property">
              <%= @project.capacity %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="project-property">
              <h5>Project detail</h5>
            </div>
          </div>
          <div class="col-md-9">
            <div class="project-property">
              <p><%= @project.description %></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="project-property">
              <h5>Backing minimum</h5>
            </div>
          </div>
          <div class="col-md-9">
            <div class="project-property">
              <p>$<%= @project.minimum_backing_value %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-action">
          <button type="button" class="btn btn-info">
            <img src="https://dl.dropboxusercontent.com/u/32675706/LinKnowledge/glyphicons/glyphicons/png/glyphicons_019_heart_empty.png"> <%= link_to 'Back it', new_project_backing_path(@project) %>
          </button>
        </div>
        <div class="project-status">
          <% if @project.backings.count > 0 %>
            <p><a href="#"><%= @project.backings.count %></a> people back this project</p>
          <% else %>
            <p>Be the first to back this project</p>
          <% end %>
          <p><%= @project.time_left %> left</p>
        </div>
      </div>
    </div>
  </div>
</div>
