<div class="jumbotron">
  <div class="container">
      <h1>Link people with Knowledge</h1>
      <h2>Because you want to learn, the knowledge should be there. </h2>
  </div>
</div>


<section class="section2">
  <div class="container">
    <div class="message text-center">
      <h2 class="big-title">Your <span>curiosity</span> is empowered!</h2>
      <p class="small-title">Give us a good reason and we will bring it to life. For Free! Until Oct 14!</p>
      <%= link_to 'SHARE YOUR CURIOSITY', new_curiosity_path, class: "button large" %>
      <a class=" dmbutton large" href="#">CONTACT US TODAY</a>
    </div><!-- end message -->
  </div><!-- end container -->
</section><!-- end section2 -->

<section class="section1">
  <div class="container clearfix">
    <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
      <div class="general-title text-center">
        <h3>What people are curious about</h3>
        <hr>
      </div>
      <div class="curiosities">
        <div class="curiosities-search">
          <input type="text" id="searchKeyword" class="form-control" placeholder="Try a keyword!" onkeydown="if (event.keyCode == 13) document.getElementById('searchButton').click()">
          <a class="button" onclick="searchCuriosities();" id="searchButton">Search</a>
        </div>
        <div class="curiosities-result">
          <!-- If searchKeyword is provided, this @curiosities are search results.
          Otherwise, this @curiosities are all Curiosities shared to facebook-->
          <% @curiosities.each do |curiosity| %>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="testimonial">
                <img data-effect="slide-bottom" class="alignleft img-circle" src="<%= curiosity.user.image %>" alt="">
                <h3><%= curiosity.title %></h3>
                <p><%= truncate(curiosity.description, length: 300, separator: ' ') %>
                  <br>
                  <%= link_to 'See full story', curiosity %>
                </p>

                <div class="testimonial-meta">
                  <h4><%= curiosity.user.full_name %></h4>
                </div>
                <div class="fbButtons">
                  <div class="fb-like"
                       data-href="http://www.linknowledge.com/curiosities/<%= curiosity.id %>"
                       data-layout="standard"
                       data-action="like"
                       data-show-faces="false"
                       data-share="true">
                  </div>
                </div>
              </div><!-- end dmbox -->
            </div>
          <% end %>
        </div>
      </div>
    </div><!-- end content -->
    <div class="general-title text-center">
      <a class=" button large" href="#">SEE WHAT AND WHY OTHERS ARE CURIOUS ABOUT</a>
    </div>
  </div><!-- end container -->
</section><!-- end section -->

<section class="section2">
  <div class="container">
    <div class="message text-center">
      <h2 class="big-title">Join our class in <span>San Francisco</span> for free!</h2>
      <p class="small-title">Audition starts on October 17</p><br>
      <a class=" dmbutton large" href="#">SUBSCRIBE OUR SF EVENT</a>
    </div><!-- end message -->
  </div><!-- end container -->
</section><!-- end section2 -->

<script>
function searchCuriosities() {
  alert("in seachCuriosities()");
  var keyword = document.getElementById('searchKeyword').value;
  //Brian Todo: use keyword to search in Curiosities, results are shared curiosities with the keyword in title
}
</script>
