<div class="jumbotron">
  <div class="container">
      <h1>Link people with Knowledge</h1>
      <h2>You want to learn, and the knowledge is there. </h2>
  </div>
</div>

<section class="section2">
  <div class="container">
    <div class="message text-center">
      <h2 class="big-title"><span>Empower</span> your curiosity!</h2> <!--Ryan: Connect with people who share your curiosity/questions -->
      <p class="small-title">This is the chance to have your curiosity be the topic of our opening event in SF.
        <br>Connect with people who share your curiosity and learn together.
        <br>OCTOBER 6-24
      </p>
      <a href="#sharing" class="button large">SHARE YOUR CURIOSITY</a>
      <a href="#others" class="dmbutton">SEE CURIOSITY</a>
    </div><!-- end message -->
  </div><!-- end container -->
</section><!-- end section2 -->

<section class="section1">
  <div class="container clearfix">
    <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="dmbox">
          <div class="service-icon">
             <div class="dm-icon-effect-1" data-effect="slide-bottom">
              <a class="" href="#"><i class="dm-icon fa fa-flag-checkered fa-3x"></i></a>
            </div>
          </div>
          <h4>1. Wave Your Flag</h4>
          <p>Share what you want to learn. Get started to interact with peers who share your curiosity.</p>
          <br>
       </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="dmbox">
              <div class="service-icon">
                   <div class="dm-icon-effect-1" data-effect="slide-bottom">
                  <a class="" href="#"><i class="dm-icon fa fa-users fa-3x"></i></a>
                  </div>
              </div>
              <h4>2. Group Up</h4>
              <p>Your peers support your curiosity via Facebook like. <br> <!-- Get together and turn your curiosity in to knowledge. How do we do it? -->
                <br></p>

       </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="dmbox">
          <div class="service-icon">
               <div class="dm-icon-effect-1" data-effect="slide-bottom">
              <a class="" href="#"><i class="dm-icon fa fa-rocket fa-3x"></i></a>
              </div>
          </div>
          <h4>3. Learn Together</h4>
          <p>LinKnowledge will personally invite experts to turn the curiosity with most Facebook likes into knowledge.
            <!-- We will have an expert to turn your curiosity in to knowledge in SF. If you have the most likes on facebook, your idea will ... in San Fran -->
            </p>
        </div>
      </div>
    </div>
    <div class="general-title text-center">
      <a class=" button large" href="http://eepurl.com/3Q0Cf">SUBSCRIBE TO OUR LATEST NEWS</a>
    </div>
  </div>
</section>


<section class="section2" id="sharing">
  <div class="container">
    <div class="message text-center">
      <h2 class="big-title">What are you <span>passionate</span> to learn?</h2>
      <p class="small-title">Share why you want to learn the thing. <br>
        We will find you who have the same passion for it!
        The chance to be the topic of our SF opening event.
      </p>
    </div>
  </div>
</section>


<section class="section1">
  <div class="container clearfix">
    <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
      <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <%= form_for @curiosity do |f| %>
          <h4 class="title">
            <span>Share you curiosity</span>
          </h4>
          <%= render 'form' %>
        <% end %>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
    </div>
  </div>
</section>

<section class="section2" id="others">
  <div class="container">
    <div class="message text-center">
      <h2 class="big-title">What people are <span>curious</span> about?</h2>
      <p class="small-title">That makes our world.</p>
      <div class="curiosities-search">
        <div class="text-center">
          <form id="bbsearch" class="form-inline">
            <input type="text" class="form-control" id="searchKeyword"
                   placeholder=""
                   onkeydown="if (event.keyCode == 13) document.getElementById('searchButton').click()">
            <button type="submit" class="btn btn-primary" id="searchButton">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section1">
  <div class="container clearfix">
    <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
      <div class="curiosities">
        <div class="curiosities-result">
          <!-- If searchKeyword is provided, this @curiosities are search results.
          Otherwise, this @curiosities are all Curiosities shared to facebook-->
          <% @curiosities.each do |curiosity| %>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="testimonial">
                <img data-effect="slide-bottom" class="alignleft img-circle" src="<%= curiosity.user.image %>" alt="">
                <h3><%= curiosity.title %></h3>
                <p><%= truncate(curiosity.description, length: 300, separator: ' ') %>
                  <br>
                  <%= link_to 'See full story', curiosity %>
                </p>

                <div class="testimonial-meta">
                  <h4><%= curiosity.user.full_name %></h4>
                </div>
                <div class="fbButtons">
                  <div class="fb-like"
                       data-href="http://www.linknowledge.com/curiosities/<%= curiosity.id %>"
                       data-layout="standard"
                       data-action="like"
                       data-show-faces="false"
                       data-share="true">
                  </div>
                </div>
              </div><!-- end dmbox -->
            </div>
          <% end %>
        </div>
      </div>
    </div><!-- end content -->
  </div><!-- end container -->
</section><!-- end section -->

<script>
function searchCuriosities() {
  alert("in seachCuriosities()");
  var keyword = document.getElementById('searchKeyword').value;
  //Brian Todo: use keyword to search in Curiosities, results are shared curiosities with the keyword in title
}
</script>
