<%= content_for :og do %>
  <meta property="og:url" content="http://www.linknowledge.com/curiosities/<%= @curiosity.id %>" />
  <meta property="og:type" content="curiosity" />
  <meta property="og:title" content="<%= @curiosity.title %>" />
  <meta property="og:description" content="<%= @curiosity.description %>" />
  <meta property="og:image" content="https://dl.dropboxusercontent.com/u/32675706/LinKnowledge/Campaign-opengraph-image.png"/>
<% end %>

<section class="section2">
  <div class="container">
    <div class="message text-center">
      <h2 class="big-title">Spread your <span>Curiosity!</span></h2><!--Last mile to bring your <span>curiosity</span> to life.</h2>-->
      <p class="small-title">The votes will start NOW!</p>


    </div><!-- end message -->
  </div><!-- end container -->
</section><!-- end section2 -->

<section class="section1">
  <div class="container clearfix">
  <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
    <!--
    <h4 class="title">
      <span>What you are curious about</span>
    </h4>
  -->
    <div class="testimonial">
      <h3><%= @curiosity.title %></h6>
      <p><%= @curiosity.description %></p>
      <div class="testimonial-meta">
        <div class="message text-center">
        <%= button_tag 'SPREAD VIA FACEBOOK', class: 'button large', id:'spread-via-fb' %>
        <%= link_to 'BACK TO HOME', root_path, class: "button large", id:'back-to-home' %>
        </div>
      </div>
    </div>
   </div><!-- end content -->
  </div><!-- end container -->
</section><!-- end section -->
