<%= content_for :og do %>
  <meta property="og:url" content="http://www.linknowledge.com/curiosities/<%= @curiosity.id %>" />
  <meta property="og:type" content="curiosity" />
  <meta property="og:title" content="<%= @curiosity.title %>" />
  <meta property="og:description" content="<%= @curiosity.description %>" />
  <meta property="og:image" content="https://dl.dropboxusercontent.com/u/32675706/LinKnowledge/Campaign-opengraph-image.png"/>
<% end %>

<section class="section2">
  <div class="container">
    <div class="message text-center">
      <h2 class="big-title"><span>Like it</span> if you are also curious</h2>
      <p class="small-title">The curiosity with most Facebook likes will be the topic of our opening event in SF.</p>
</section>

<section class="section1">
  <div class="container clearfix">
  <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
    <div class="testimonial">
      <img data-effect="slide-bottom" class="alignleft img-circle" src="<%= @curiosity.user.image %>" alt="">
      <h3><%= @curiosity.title %></h6>
      <p><%= @curiosity.description %></p>
      <div class="testimonial-meta">
        <h4><%= @curiosity.user.full_name %> </h4>
      </div>
      <div class="fbButtons">
        <div class="fb-like"
             data-href="http://www.linknowledge.com/curiosities/<%= @curiosity.id %>"
             data-layout="standard"
             data-action="like"
             data-show-faces="false"
             data-share="true">
        </div>
      </div>
    </div>
   </div><!-- end content -->
  </div><!-- end container -->
</section><!-- end section -->
