<!DOCTYPE html>
<html>
<head>
  <title>LinKnowledge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
  <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
</head>
<body>

  <div class="nav">
    <div class="container">
      <ul class="pull-left">
        <li><a href="/"><img src="https://dl.dropboxusercontent.com/u/32675706/LinKnowledge/LinKnowledge_icon_name_no_background.png"></a></li>
      </ul>
      <ul class="pull-right">
        <% if user_signed_in? %>
        <li>
          <a href="#"><%= current_user.full_name %></a> knows.
        </li>
        <li>
          <%= link_to "Sign out", destroy_user_session_path %>
        </li>
        <% else %>
        <li>
          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= yield %>
  <div class="learn-more">
	   <div class="container">
    	<div class="row">
	      <div class="col-md-4">
			    <h3>About us</h3>
			    <p>LinKnowledge is passionate about making knowledge sharing easier for everyone in the world.</p>
	      </div>
		    <div class="col-md-4">
			    <h3>Start a project</h3>
			    <p>Let people with same curiosity to support what you want to know.</p>
		    </div>
		    <div class="col-md-4">
			    <h3>Back a project</h3>
			    <p>If you want to know, back the project. LinKnowledge will link you to people who know it.</p>
		    </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="copyright-words">
      <p>copyright @ LinKnowledge 2014
    </div>
  </div>
</body>
</html>
